<title>Contatore</title>

<h1>Shared Counter</h1>
<br><br>
<div id="counter">1</div>
<br>
<label for="quantity"><h3>Inserisci un numero oppure clicca sulle freccette per diminuire o aumentare il valore</h3> </label>
<input type="number" id="quantity" name="quantity" min="-10" max="100">
<!-- Example split danger button -->
<div class="btn-group">
  <button type="button" class="btn btn-dark">Operatore</button>
  <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">+</a>
    <a class="dropdown-item" href="#">-</a>
    <a class="dropdown-item" href="#">*</a>
    <a class="dropdown-item" href="#">/</a>
  </div>
</div>
<input type="submit" class="btn btn-dark" value="Invio">



