<title>Contatore</title>

<h1>Shared Counter</h1>
<br><br>
<!--<div class="btn btn-dark" type="button">-1</div>-->
<div id="counter">
  <div class="btn-group dropdown">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    
    </button>
    <div class="dropdown-menu">
      <span class="dropdown-item " (click)=add10()>+10</span>
      <a class="dropdown-item" (click)=add20()>+20</a>
      <a class="dropdown-item" (click)=add100()>+100</a>
     
    </div>
  </div>
  <div class="btn btn-dark" type="button" (click)=cresc() >+1</div>
 {{contatore}}
 <div class="btn btn-dark" type="button" (click)=decresc()>-1</div>
 <div class="btn-group dropdown">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   
  </button>
  <div class="dropdown-menu">
    <span class="dropdown-item" (click)=sottDieci() >-10</span>
    <a class="dropdown-item" (click)=sottVenti()>-20</a>
    <a class="dropdown-item" (click)=sottCento()>-100</a>
   
  </div>
</div>
</div>
<br>
<!--<label for="quantity"><h3>Inserisci un numero oppure clicca sulle freccette per diminuire o aumentare il valore</h3> </label>
<input type="number" id="quantity" name="quantity" min="-10" max="100">
 Example split danger button 
<div class="btn-group">
  <button type="button" class="btn btn-dark">Operatore</button>
  <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">+</a>
    <a class="dropdown-item" href="#">-</a>
    <a class="dropdown-item" href="#">*</a>
    <a class="dropdown-item" href="#">/</a>
  </div>
</div>
<input type="submit" class="btn btn-dark" value="Invio">-->
<button type="button" class="btn btn-danger" (click)=reset() id="reset">RESET</button>


